.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.spinner {
  position: relative;
  width: 100px;
  height: 120px;

  animation: spin-anim 1.2s linear infinite;
  //overflow: hidden;
}

.spinner::before,
.spinner::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 100px;
  border-top: 20px solid #dd3681;
  border-bottom: 20px solid #dd3681;
  border-left: 20px solid #dd3681;
  border-radius: 100px 0 0 100px;
  transform: translate(0, 20px);
}

.spinner::after {
  border-left: 0;
  border-top: 20px solid #dd3681;
  border-bottom: 20px solid #dd3681;
  border-right: 20px solid #dd3681;
  border-radius: 0 100px 100px 0;
  transform: translate(50px, 0px);
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
}
