.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.main h1 {
  font-size: 80px;
  color: #f060c0;
}

.main h1 span {
  font-size: 110px;
  letter-spacing: 8px;
}

.main p {
  font-size: 45px;
  color: #fff;
  text-transform: none;
}

.pointer {
  position: absolute;
  top: 90%;
  right: 24%;
}
