.search {
  background-position: center;
  background-size: cover;
}
.search circle  {
  transition: all 0.2s ease-in;
}

.search:hover circle {
  fill: #f060c0;
}

.search:hover g circle {
  fill: #f060c0;
}

.search:active circle {
  fill: #792ec0;
}
.search:active g circle {
  fill: #792ec0;
}

.search svg {
  width: 24px;
  height: 24px;
}

.search:hover svg circle, .search:hover svg g circle {
  transition: fill 0.2s ease-in;
  fill: #F060C0
}

.search:active svg circle, .search:active svg g circle {
  transition: fill 0.2s ease-in;
  fill: #792EC0
}

.link {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.search,
.link {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

@media (min-width: 768px) {
  .search svg {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  .search svg {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1280px) {
  .search svg {
    width: 56px;
    height: 56px;
  }
}

@media (min-width: 1536px) {
  .search svg {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1800px) {
  .search svg {
    width: 80px;
    height: 80px;
  }
}
