.exit_btn, .instruction_btn {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  border: 2px solid #d93284;
  border-radius: 6px;
  background-color: #ffff;
  transition: all 0.2s ease-in;
}

.exit_btn:hover {
  border: 2px solid #f060c0;
}

.exit_btn:active {
  border: 2px solid #792ec0;
  background-color: #CCD3FF;
}

.exit_btn::before,
.exit_btn::after {
  position: absolute;
  content: "";
  width: 9%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  border-radius: 0.375rem;
  background-color: #d93284;
  transition: all 0.2s ease-in;
}

.exit_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.exit_btn:hover::before,
.exit_btn:hover::after {
  background-color: #f060c0;
}

.exit_btn:active::before,
.exit_btn:active::after {
  background-color: #792ec0;
}

.instruction_btn:hover {
  border: 2px solid #f060c0;
}

.instruction_btn:active {
  border: 2px solid #792ec0;
  background-color: #CCD3FF;
}

.instruction_btn::before {
  position: absolute;
  content: "";
  width: 12%;
  height: 12%;
  top: 20%;
  left: 50%;
  transform: translate(-50%);

  background-color: #d93284;
  border-radius: 100%;
  transition: all 0.2s ease-in;
}

.instruction_btn::after {
  position: absolute;
  content: "";
  width: 12%;
  height: 44%;
  top: 40%;
  left: 50%;
  transform: translate(-50%);

  background-color: #d93284;
  border-radius: 1px;
  transition: all 0.2s ease-in;
}

.instruction_btn:hover::before,
.instruction_btn:hover::after {
  background-color: #f060c0;
}

.instruction_btn:active::before,
.instruction_btn:active::after {
  background-color: #792ec0;
}


@media (min-width: 768px) {
  .exit_btn, .instruction_btn {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  .exit_btn, .instruction_btn {
    width: 56px;
    height: 56px;
    border: 3px solid #d93284;
    border-radius: 6px;
  }

  .instruction_btn:hover {
    border-width: 3px;
  }

  .instruction_btn:active { 
    border-width: 3px;
  }

  .exit_btn:hover {
    border-width: 3px;
  }

  .exit_btn:active {
    border-width: 3px;
  }
}

@media (min-width: 1280px) {
  .exit_btn, .instruction_btn {
    width: 64px;
    height: 64px;
    border: 3px solid #d93284;
    border-radius: 10px;
  }

  .instruction_btn:hover {
    border-width: 3px;
  }

  .instruction_btn:active { 
    border-width: 3px;
  }

  .exit_btn:hover {
    border-width: 3px;
  }

  .exit_btn:active {
    border-width: 3px;
  }
}

@media (min-width: 1536px) {
  .exit_btn, .instruction_btn {
    width: 64px;
    height: 64px;
    border: 3px solid #d93284;
    border-radius: 16px;
  }

  .instruction_btn:hover {
    border-width: 3px;
  }

  .instruction_btn:active { 
    border-width: 3px;
  }

  .exit_btn:hover {
    border-width: 3px;
  }

  .exit_btn:active {
    border-width: 3px;
  }
}


@media (min-width: 1800px) {
  .exit_btn, .instruction_btn {
    width: 80px;
    height: 80px;
    border: 5px solid #d93284;
    border-radius: 16px;
  }

  .instruction_btn:hover {
    border-width: 5px;
  }

  .instruction_btn:active { 
    border-width: 5px;
  }

  .exit_btn:hover {
    border-width: 5px;
  }

  .exit_btn:active {
    border-width: 5px;
  }
}

