.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  height: 100dvh;
  background-color: hsla(0, 0%, 20%, 0.722);
  z-index: 30;
}

.video-container:hover .playButton {
  opacity: 1;
}

.video-container:not(:hover) .playButton {
  opacity: 0;
}

.videoPlayer {
  width: 100%;
  border: 3px solid #D93284;
  border-radius: 32px;
}

.videoPlayer video {
  border-radius: 29px;
}

@media (min-width: 640px) {
  .videoPlayer {
    border: 5px solid #D93284;
  }
}

@media (min-width: 768px) {
  .videoPlayer {
    border: 8px solid #D93284;
  }
}